* {
    margin: 0;
    padding: 0; 
    font-family: verdana;
}

.navigasi {
    background-color: #cfaebd;
    width: 100%;
    height: 70px;
    color: white;
    position: fixed;
}

.logo {
float: left;
padding-top: 20px;
padding-bottom: 10px;
padding-left: 30px;

}

.menu {
    margin-left: 790px;
    padding-top: 27px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.menu ul li a {
    text-decoration: none;
    color: white;

}

.menu ul li a:hover {
    color: lightskyblue;
    font-style: italic;
}

.banner {
    background-color: #785365;
    height: 600px;
    text-align: center;
    color: white;
}

.banner img {
    border-radius: 200px;
    height: 150px;
    border: 5px solid white;
    margin-top: 100px;
}

.banner h1 {
    margin-top: 10px; 
    margin-bottom: 10px;
}

.banner button{
    margin-top: 60px;
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    border: none;
}

.banner button:hover{
    background-color: #faeaf6;
    border: 2px solid white;
    color: white;
}

h1 span:before{
    content: '';
    animation: gerak infinite 5s ease;
    transform: translateY(-50%);
    color: lightblue;
    font-size: 40px;
}

@keyframes gerak {
    0% {
        content: 'WELCOME!!';
    }
    50% {
        content: 'im Cindra Mokoagow';
    }
    100% {
        content: 'a Web Developer';
    }
    
}

.box-pendidikan {
    text-align: center;
    color: #4d4d4d;
    margin-top: 90px;
    align-content: center;
}

.box-kiri, .box-tengah, .box-kanan{
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 30px;
    padding-right: 3px;
    margin: 70px 20px 20px 80px;
    float: left;

}

.box-kiri:hover, .box-tengah:hover, .box-kanan:hover{
    background-color: #f194c6;
    color: white;
}

.box-pendidikan h3, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

.box-kiri img{
    width: 50%;
}

.box-tengah img{
    width: 50%;
}
.box-kanan img{
    width: 50%;
}

.box-softskill {
    text-align: center;
    color: #4d4d4d;
    margin: 0px auto ;
    margin-top: 100px;
}

.box-kontak img{
    width: 150px;
    margin-top: 60px;
    margin-bottom: 20px;

}

.box-softskill .box-kontak h1{ 
    text-align: center;
    color: #4d4d4d;
    padding-top: 100px;
    margin: 0px auto;
    margin-top: 500px;
}

.footer {
    background-color: grey;
    width: 100%;
    height: 40px;
    color: white;
    padding: 3px;
    margin: 50px auto 0px;
}








